@model Passion_Project.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Welcome, @Model.User.first_name @Model.User.last_name</h3>
    <p>Email: @Model.User.email</p>
</div>

<h4>Your Timelines:</h4>
<ul>
    @foreach (var timeline in Model.UserTimelines)
    {
        <li>@timeline.timeline_name</li>
    }
</ul>

<h4>Recent Entries:</h4>
<ul>
    @foreach (var entry in Model.RecentEntries)
    {
        <li>@entry.entries_name</li>
    }
</ul>

<a asp-controller="EntryPage" asp-action="AddEntry">Add Entry</a>
<a asp-controller="TimelinePage" asp-action="AddTimeline">Add Timeline</a>
<a asp-controller="UserTimelinePage" asp-action="UserLink" asp-route-userId="@Model.User.user_Id">Manage Timeline</a>
