@model IEnumerable<Passion_Project.Models.TimelineDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="New">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.timeline_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.timeline_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.timeline_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.timeline_Id">Details</a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@item.timeline_Id">Delete</a>
                    
                </td>
            </tr>
        }
        <a asp-controller="UserPage" asp-action="List">Users</a>
        <br />
        <a  asp-controller="EntryPage" asp-action="List">Entry</a>
        <br />
        <a asp-area="" asp-controller="UserTimelinePage" asp-action="Index">Link User and timeline</a>
    </tbody>
</table>
