@model IEnumerable<Passion_Project.Models.EntriesDto>

@{
    ViewData["Title"] = "Entries Index";
}

<h1>Entries Index</h1>

<p>
    <a asp-action="New">Create New Entry</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.entries_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeline_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.entries_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeline_Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.entries_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.entries_Id">Details</a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@item.entries_Id">Delete</a>
                   
                </td>
            </tr>
        }
        <a asp-controller="UserPage" asp-action="List">Users</a>
        <br />
        <a  asp-area="" asp-controller="TimelinePage" asp-action="List">Timeline</a>
    </tbody>
</table>
